.team-page {
  font-family: Arial, sans-serif;
}

.team-title {
  font-size: 20px;
  margin: 20px;
  font-weight: 600;
  color: #6A6B70;
}

.team-table {
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  overflow: hidden;
}

/* Table row flex */
.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-top: 1px solid #eee;
}

.table-row.header {
    border-top:1px solid #6A6A6A;
    border-bottom:1px solid #6A6A6A;
    
}

.row-left {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.table-row.header span{
    color: #184E7F;
  font-weight: 500;
}
.row-left span{
    color: #020617;
}

.row-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.avatar-initials {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  background-color: #2d5fb8;
}

/* Columns */
.col-avatar {
  width: 35px;
}

.col-name {
  width: 120px;
  text-align: center;
}

.col-phone {
  width: 120px;
  text-align: center;
}

.col-email {
  width: 200px;
  text-align: center;
}

.col-role {
  width: 100px;
  text-align: center;
}

/* Avatar */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* Role styles */
.role-admin {
  color: #d48806;
  font-weight: bold;
}

.role-member {
  color: #3f7ae0;
  font-weight: bold;
}

/* Action buttons */
.action-buttons {
  font-size: 22px;
}

.edit-btn {
  color: #545454;
  cursor: pointer;
}

.delete-btn {
  color: #545454;
  cursor: pointer;
}

.no-actions {
  color: #aaa;
  text-align: center;
}

/* Add button */
.add-member-btn {
  display: flex;
  align-items: center;
  gap: 8px;              /* space between icon & text */
  margin-top: 16px;
  margin-right: 16px;
  float: right;
  padding: 10px 20px;
  border: none;
  background: #184E7F;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.plus-icon {
  font-size: 20px;
}


.add-member-btn:hover {
  background: #2d5fb8;
}


/* ===================ADD MEMBER POPUP====================  */
.add-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 724px;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  z-index: 2000;
}

.add-popup h2 {
  margin-bottom: 10px;
  color: #232323;
  font-weight: 500;
}

.popup-desc {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.add-popup label {
    color: #000000;
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.add-popup input,
.add-popup select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.add-popup select {
  appearance: none;           /* remove default icon */
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center; /* move icon LEFT */
  background-size: 28px;
  padding-right: 35px; /* maintain space for icon */
}

.popup-buttons.bottom-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.popup-buttons .cancel {
    border: none;
  background: #F6F8FA;
  padding: 8px 40px;
  border-radius: 10px;
  color: #AFAFAF;
}

.popup-buttons .confirm {
  background: #184E7F;
  color: white;
  padding: 8px 40px;
  border-radius: 10px;
  border: none;
}



/* Popup */
.delete-popup {
    position: absolute;
  right: 20px; 
  margin-top: 20px;
  background: #FAFBFC;
  border: 1px solid #ffb3b3;
  padding: 20px;
  border-radius: 20px;
  width: 490px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}

.delete-popup button {
    font-size: 15px;
  padding: 8px 40px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  background-color: #AFAFAF;
}

.delete-popup .confirm {
  background: #184E7F;
}

.delete-popup button:hover {
  opacity: 0.8;
}
