/* Admin Layout */
.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f9f9f9;
}

/* Sidebar */
.sidebar {
  width: 100px;
  background: rgb(230, 222, 222);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.sidebar img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

/* Sidebar nav */
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.2s;
}

/* Icons */
.sidebar-icon {
  font-size: 30px;
  color: #424242;
}

/* Text below icon */
.sidebar nav a p {
  font-size: 12px;
  margin-top: 4px;
  color: inherit;
  display:none;
  text-align: center;
}


.sidebar nav a.active .sidebar-icon {
  font-size: 30px;
  color: #424242;
}

.sidebar nav a.active p {
  display: block;
  color: #424242;
}

/* Main area */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Content area */
.content-area {
  flex: 1;
  overflow-y: auto;
}


/* ===================================== AUTH LAYOUT ================================================================= */
/* Auth Layout (optional) */
.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.auth-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.15);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #001f8b;
}
