* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* LEFT — 60% */
.left {
  flex: 0 0 60%;  /* = do not grow, do not shrink, width = 60% */
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  /* width: 50%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 580px; /* enough to hold form */
  /* height: 420px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  align-items: flex-start;
}

.form form {
  /* width: 590px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: flex-start; */
  width: 100%; /* takes full width of .form */
  /* height: 100%; takes full height of .form */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-items: flex-start; */
  gap: 8px;
}

/* FORM ELEMENTS */
.form form h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}
.login-page label{
    text-align: left;
    color: #666666;
}

.form form input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.form form input:focus {
  border-color: #001f8b;
  box-shadow: 0 0 4px rgba(0,31,139,0.3);
}

.form form button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #C3C3C3;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}


/* FORM P TEXT */
.form form p {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 0px;
}

.form form p span {
  color: #001f8b;
  text-decoration: underline;
  cursor: pointer;
}

/* BOTTOM RECAPTCHA TEXT */
.left > p {
  font-size: 12px;
  color: #777;
  text-align: left;
  line-height: 1.4;
  margin-top: 15px;
}

/* RIGHT — 40% */
.right {
  flex: 0 0 40%;  /* = do not grow, do not shrink, width = 40% */
  background: yellow;
  position: relative;
  overflow: hidden;
}

/* RIGHT IMAGE FIT */
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup-link{
    color: #244779;
    text-decoration: underline;
    font-size:15px;
}