.settings-container {
  padding: 20px;
  font-family: "Inter", sans-serif;
}
.settings-container h3 {
  color: #636060;
  font-weight: 500;
}

.settings-section {
  padding: 50px;
  width: 100%;
}

.settings-section h4 {
  width: 20%;
  margin-bottom: 10px;
  color: #184e7f;
  border-bottom: #001f8b;
  font-weight: 500;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  margin-left: 15px;
}

.settings-form label {
  font-weight: 500;
  color: #5e5e5e;
}

.settings-form input {
  padding: 10px 15px;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  font-size: 14px;
  width: 500px;
  font-weight: 500;
  color: #000000;
}

.settings-save-btn {
  position: absolute;
  right: 80px;
  margin-top: 20px;
  padding: 10px 60px;
  background-color: #184e7f;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.settings-save-btn:hover {
  background-color: #0044cc;
}

.input-with-icon .info-icon {
  position: relative;
  left: 8px;
  top: 5px; /* inside the input on the right */
  cursor: pointer;
  color: #727272;
  width: 20px;
  height: 20px;
}
